<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1 class="page-title">
  		Books
  	</h1>
  	<ul class="table">
  	  <li>Title</li>
  	  <li>Body</li>
  	</ul>
  	<p>
      <%= link_to 'start', books_path %>
  	</p>
    <%= yield %>
  </body>
</html>
